.btn {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  color: white !important;
  min-width: 90px !important;
  border-radius: 6px !important;
  right: 90px;
  left: 0;
  z-index: 5;
}
.btn-blue {
  background: #1a73e8 !important;
}
.btn-not-active {
  left: 0;
  right: 90px;
  transition: all 0.3s ease-in-out !important;
}
.btn-active {
  right: 0;
  left: 90px;
  transition: all 0.3s ease-in-out !important;
}
