.animation-container {
  position: relative;
}

.cloud {
  position: absolute;
  left: 13.5rem;
}
.usb_cable {
  position: absolute;
  top: 11.5rem;
  left: 6.5rem;
}
.usb_cable svg {
  height: 400px !important;
  width: 100%;
}
.counter {
  position: absolute;
  top: -100%;
  animation: moveDown 1s ease infinite;
}

@keyframes moveDown {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}
.report_file {
  margin-top: 2rem !important;
}
