

.personReportChild {
  display: flex;
  gap: 6rem;
  padding: 0 32px;
  align-items: flex-start;
  margin-bottom: 6rem !important;
}

@media (max-width: 900px) {
  .personReport {
    max-height: 100%;
  }
}

@media (max-width: 1100px) {
  .personReportChild {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px !important;
  }
  .personalityReport_profile {
    display: none;
  }
  .personality_name {
    align-items: center;
    gap: 12px;
  }
  .personReport {
    border-radius: 0;
  }
}

.scrollBottom {
  transition: all 0.3s ease-in-out;
}
/* browser sidebar styling */
.scrollable-container::-webkit-scrollbar {
  width: 8px;
}

.scrollable-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: #1a73e8;
  border-radius: 6px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #1a73e8;
}

.scrollable-container::-ms-scrollbar {
  /* width: 8px; */
}

.scrollable-container::-ms-scrollbar-track {
  background: #f1f1f1;
}

.scrollable-container::-ms-scrollbar-thumb {
  background: #1a73e8;
  border-radius: 6px;
}

.scrollable-container::-ms-scrollbar-thumb:hover {
  background: #1a73e8;
}

.activeDisc {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.not-activeDisc {
  opacity: 0; 
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
