.singleCard_datas:last-child {
  border-bottom: none;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.item {
  position: absolute;

  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

.item.visible {
  visibility: visible;
  opacity: 1;
}

.item.hidden {
  visibility: hidden;
  opacity: 0;
}
.btn_anim_cards {
  z-index: 5;
  padding: 12px 24px;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2.4rem;
}
.anim_icon {
  font-size: 24px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.btn_anim_cards.active {
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px #0000001a;
}

.anim_icon.active {
  color: #1a73e8;
}

.btn_anim_cards.not-active {
  background-color: #e0e0e0;
}
.anim_icon.not-active {
  color: #fff;
}
