.cls-1,
.cls-3 {
  fill: #fff;
}

.cls-1 {
  stroke: none;
}

.cls-2 {
  fill: #e0e0e0;
}

.cls-3 {
  stroke: #e0e0e0;
  stroke-miterlimit: 10;
}
/* driver */
.cls-4 {
  fill: #e5561f;
}

.cls-5 {
  fill: #ffb727;
}

.cls-6 {
  fill: #afd80a;
}

.cls-7 {
  fill: #11b21b;
}

.cls-8 {
  fill: #00b6bc;
}

.cls-9 {
  fill: #6756b2;
}

.cls-10 {
  fill: #93359b;
}

.cls-11 {
  fill: #c62e85;
}

.cls-12 {
  fill: #f48119;
}

.cls-13 {
  fill: #00b6bc;
}

.cls-14 {
  fill: #51b48e;
}

.cls-15 {
  fill: #6756b2;
}

.cls-16 {
  fill: #93359b;
}

.cls-17 {
  fill: #c62e85;
}

.cls-18 {
  fill: #e5561f;
}

.black {
  fill: #000;
}

.D {
  opacity: 0;
  fill: #db3c48;
}
.styles_polygon__5DMtl:hover {
  opacity: 0.54 !important;
}
.Di {
  opacity: 0;
  fill: #e5561f;
}

.DI {
  opacity: 0;
  fill: #ff7f56;
}

.Id {
  opacity: 0;
  fill: #ffb03c;
}

.I {
  opacity: 0;
  fill: #f7cf0d;
}

.Is {
  opacity: 0;
  fill: #d3e000;
}

.IS {
  opacity: 0;
  fill: #afd80a;
}

.Si {
  opacity: 0;
  fill: #88c100;
}
.SI {
  opacity: 0;
  fill: #afd80a;
}
.S {
  opacity: 0;
  fill: #11b21b;
}

.Sc {
  opacity: 0;
  fill: #51b48e;
}

.SC {
  opacity: 0;
  fill: #00b6bc;
}

.Cs {
  opacity: 0;
  fill: #007fb6;
}

.C {
  opacity: 0;
  fill: #2f5fa5;
}

.Cd {
  opacity: 0;
  fill: #6756b2;
}

.CD {
  opacity: 0;
  fill: #93359b;
}

.Dc {
  opacity: 0;
  fill: #c62e85;
}

.circle_img_hero {
  position: relative;
}
.circle_img_hero img {
  z-index: 1;
  position: relative;
}

.half-circle {
  width: 90%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.25);
  position: absolute;
  bottom: -30%;
}
.discresults_btn {
  padding: 8px 12px !important;
}
@media (min-width: 900px) {
  .styles_container__Z_mr6 {
    width: 384px;
  }
}
.styles_flex__sAX8y {
  transition: all 0.3s ease-in-out;
}
