.auth_btns {
  border-radius: 4px !important;
  border: 1px solid #e0e0e0 !important ;
  color: #000000 !important;
  text-transform: none !important;
  width: 100%;
}

input[type="checkbox"]:checked {
  color: white !important;
  background-color: blue !important;
}

input[type="checkbox"]:checked + label::before {
  visibility: visible; /* Show the checkmark when the checkbox is checked */
}

iframe {
  margin: 0 auto !important;
}